<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Basic Info</title>
  <link rel="stylesheet" href="postevent01.css">
</head>
<body>
  <div id="form">
    <!-- This is the big title on the top. -->
    <el-row>
      <ul id="navbar">
        <li><a href="">Home</a></li>
        <li><a href="">My Profile</a></li>
        <li><a href="">Sign Out</a></li>
        <li><a href=""></a></li>
        <li><el-input
          placeholder="Search"
          prefix-icon="el-icon-search"
          v-model="input21"
          size="small"
          class="search-box">
        </el-input></li>
      </ul>
    </el-row>

    <el-row>
      <el-col align="middle">
        <h1>Basic Info</h1>
        <p>Fill up your event!</p>
        <hr width="80%">
      </el-col>
    </el-row>

    <el-row>
      <el-col :span='12'>
      </el-col>
      <el-col :span="7" class="input-field">
        <el-row>
          <el-form ref="form" :model="form" label-width="150px">
            <el-form-item label="Event name">
              <el-input v-model="form.name"></el-input>
            </el-form-item>
            <el-form-item label="Type">
              <el-input v-model="form.type"></el-input>
            </el-form-item>
            <el-form-item label="Location">
              <el-select v-model="form.region" placeholder="please select your zone">
                <el-option label="Zone one" value="shanghai"></el-option>
                <el-option label="Zone two" value="beijing"></el-option>
              </el-select>
            </el-form-item>
            <el-form-item label="Event time">
              <el-col :span="11">
                <el-date-picker type="date" placeholder="Start" v-model="form.date1" style="width: 100%;"></el-date-picker>
              </el-col>
              <el-col :span="11">
                <el-date-picker type="date" placeholder="End" v-model="form.date2" style="width: 100%;"></el-date-picker>
              </el-col>
            </el-form-item>
            <el-form-item label="Type and estimated amount of audiences">
              <el-input placeholder="Type of participants"></el-input>
              <el-input placeholder="Range of audiences"></el-input>
            </el-form-item>
          </el-form>
        </el-row>
      </el-col>

      <el-col :span="7" :offset="1" class="input-field">
        <el-row>
          <h4>Logo</h4>
            <el-upload
              class="upload-demo"
              drag
              action="https://jsonplaceholder.typicode.com/posts/"
              :on-preview="handlePreview"
              :on-remove="handleRemove"
              :file-list="fileList"
              list-type="picture">
              <i class="el-icon-upload"></i>
              <div class="el-upload__text">Drop your logo here or <em>click to upload</em></div>
              <div class="el-upload__tip" slot="tip">jpg/png files with a size less than 500kb</div>
            </el-upload>
        </el-row>

        <el-row>
          <el-form-item label="Link to your social media">
            <el-input placeholder="URL"></el-input>
          </el-form-item>
        </el-row>
      </el-col>
    </el-row>

  </div>

  <script src="https://unpkg.com/vue@2.5.16/dist/vue.js"></script>
  <!-- import CSS -->
  <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
  <!-- import JavaScript -->
  <script src="https://unpkg.com/element-ui/lib/index.js"></script>
  <script src="//unpkg.com/element-ui/lib/umd/locale/en.js"></script>

  <script src="form.js"></script>
  <script>ELEMENT.locale(ELEMENT.lang.en)</script>
</body>
</html>
