body {
  background: #efefef;
  margin:0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #f3f3f3;
}

a {
  text-decoration: none;
}

li {
  float: left;
}

li a {
    display: block;
    color: #000;
    padding: 14px 16px;
    text-decoration: none;
}

.search-box{
  margin-top: 10px;
}

.package-card {
  margin-top: 50px;

}

.text-button {
  /* display: block; */
  vertical-align: middle;
  color: black;
  text-decoration: none;
  margin-top: 10px;
}
